.positiona {
  bottom: 600px;
  right: 50px;
	font-size: 30px;
  cursor: pointer;
  position: fixed;
}

.positionb {
  bottom: 800px;
  right: 200px;
	font-size: 30px;
  cursor: pointer;
  position: fixed;
}

.positionc {
  bottom: -30px;
	font-size: 30px;
  cursor: pointer;
  position: relative;
}
